<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <button mat-button routerLink="home"><mat-icon>favorite</mat-icon> Pillon.org</button>

</mat-toolbar>

<mat-sidenav-container style="height:100%">
  <mat-sidenav #sidenav mode="over" opened="false" style="min-width: 10%">
    <side-nav-menu title="Menu" [sidenav]="sidenav" >
      <side-nav-item route="/" title="Home" icon="home"></side-nav-item>
      <!--<side-nav-item route="/page2" title="Page 2" [disabled]="true"></side-nav-item>-->
      <side-nav-item route="blog" title="Blog" icon="book"></side-nav-item>
      <side-nav-item route="guestbook" title="Guestbook" icon="menu"></side-nav-item>
      <side-nav-group title="submenu 4">
        <side-nav-item route="/page/4.1" title="Page 4.1 xxxxx"></side-nav-item>
        <side-nav-item route="/page/4.2" title="Page 4.2"></side-nav-item>
      </side-nav-group>
      <side-nav-x-group title="submenu 5">
        <side-nav-item route="/page/5.1" title="Page 5.1"></side-nav-item>
        <side-nav-item route="/page/5.2" title="Page 5.2"></side-nav-item>
      </side-nav-x-group>
    </side-nav-menu>
  </mat-sidenav>
  <mat-sidenav-content [perfectScrollbar]="config">
    <router-outlet ></router-outlet>
    <!--Footer-->
    <footer class="page-footer text-center font-small mt-4" >

      <hr class="my-4">
      <!--Copyright-->
      <div class="footer-copyright py-3">
        © 2018 Copyright:
        <a href="http://www.pillon.org" target="_blank"> Pillon.org </a>
      </div>
      <!--/.Copyright-->
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>


