mat-sidenav-container {
  height: 100%;
}

.mat-sidenav{
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


footer {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-top: 200px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #303030;
}
